In [3]:
import pandas as pd

In [112]:
pd.options.display.float_format = '{:,.0f}'.format

In [25]:
file_path = "C:\\Users\\G020772\data\\bootcamp\\salaries_by_college_major.csv"
df_raw = pd.read_csv(file_path)
df_raw.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [26]:
df_raw.shape

(51, 6)

In [115]:
df_raw.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [28]:
df_raw.isna().sum()

Undergraduate Major                  0
Starting Median Salary               1
Mid-Career Median Salary             1
Mid-Career 10th Percentile Salary    1
Mid-Career 90th Percentile Salary    1
Group                                1
dtype: int64

In [29]:
df = df_raw.dropna()

In [30]:
df.shape

(50, 6)

In [32]:
df.isna().sum()

Undergraduate Major                  0
Starting Median Salary               0
Mid-Career Median Salary             0
Mid-Career 10th Percentile Salary    0
Mid-Career 90th Percentile Salary    0
Group                                0
dtype: int64

In [37]:
df['Starting Median Salary'].idxmax()

43

In [41]:
df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [44]:
df['Undergraduate Major'][43]

'Physician Assistant'

--------------
### Practice
What college major has the highest mid-career salary? How much do graduates with this major earn? 


(Mid-career is defined as having 10+ years of experience).

In [50]:
df['Mid-Career Median Salary'].idxmax()

8

In [48]:
df['Undergraduate Major'][8]

'Chemical Engineering'

In [52]:
df['Mid-Career Median Salary'][8]

107000.0

Which college major has the lowest starting salary and how much do graduates earn after university?

In [60]:
id = df['Starting Median Salary'].idxmin()

In [61]:
df['Undergraduate Major'][id]

'Spanish'

In [62]:
df['Starting Median Salary'][id]

34000.0

Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [64]:
id_mid_low = df['Mid-Career Median Salary'].idxmin()

In [66]:
df['Undergraduate Major'][id_mid_low]

'Education'

In [67]:
df['Mid-Career Median Salary'][id_mid_low]

52000.0

In [74]:
# clac diffc
spread = df['Mid-Career 90th Percentile Salary'].subtract(df['Mid-Career 10th Percentile Salary'])
df.insert(1, 'Spread', spread)

In [76]:
df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [78]:
low_risk = df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

Using the .sort_values() method, can you find the degrees with the highest potential? Find the top 5 degrees with the highest values in the 90th percentile.

In [82]:
high_potential = df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
high_potential.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
8,Chemical Engineering,122100.0,63200.0,107000.0,71900.0,194000.0,STEM
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
44,Physics,122000.0,50300.0,97300.0,56000.0,178000.0,STEM

Also, find the degrees with the greatest spread in salaries. Which majors have the largest difference between high and low earners after graduation.

In [83]:
low_risk[['Undergraduate Major', 'Spread']].tail()

   Undergraduate Major    Spread
42          Philosophy  132500.0
36           Marketing  132900.0
37                Math  137800.0
22             Finance  147800.0
17           Economics  159400.0

In [114]:
df.drop(columns=['Undergraduate Major']).groupby('Group').mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958","44,633","75,083","43,567","147,525"
HASS,"95,218","37,186","62,968","34,145","129,364"
STEM,"101,600","53,862","90,812","56,025","157,625"

TypeError: agg function failed [how->mean,dtype->object]