In [11]:
import pandas as pd
import numpy as np

In [14]:
relative_path = r"../../data/skade_txt/skadesak_matches.csv"
df = pd.read_csv(relative_path)

In [31]:
df[["Text","Korrekt_klassifiering"]].describe()

,Text,Korrekt_klassifiering
count,603,603
unique,600,2
top,Jeg Ã¸nsker at denne skaden annulleres. Ã…rsak...,J
freq,2,474

In [36]:
def telle_tegn(tekst):
    return len(tekst)

df["lengde_tekst"] = df["Text"].apply(telle_tegn)

In [40]:
df.lengde_tekst.groupby(df.Korrekt_klassifiering).describe()

,count,mean,std,min,25%,50%,75%,max
Korrekt_klassifiering,,,,,,,,
J,474.0,121.751055,97.246995,15.0,63.0,97.5,137.0,683.0
N,129.0,473.441860,452.931198,52.0,208.0,343.0,571.0,3225.0

Mulig cutoff gitt sample data - 140
* Mister ca 25 % av de som er kategorisert rett - finn en annen måte å finne igjen disse hvis mulig
* Fjerner over 75 % av feilkategoriserte tekster

In [ ]:
# Slett feil kategoriserte (Korrekt_klassifisert = N) og over 140 tegn (lengde_tekst > 140) fra data settet/kategorisering
# Se nærmere på forekomster N og < 140 tegn - finn fellestrekk

In [79]:
#df.head(5)

In [59]:
# Bruk for å se på J som er endret til N
over_140 = df["lengde_tekst"] > 140
df["ny_kat"] = np.where(over_140 == True, 'N', df["Korrekt_klassifiering"])

In [78]:
# Henter ut rest av feilkategorisete rader
results = df[(df['Korrekt_klassifiering'] == 'N') & (df["lengde_tekst"] < 140)]
#print(results.head(100))
len(results)

12

In [77]:
results.to_csv("../../data/skade_txt/rest_feil.csv")